.frase_container{
    width: 1000px;
    height: 1000px;
    background: #dedede;
    border: 1px solid #ffffff;
    margin: 2rem;
}

.frase_container div{
    margin: 2rem;
}

.p-new-list{
    margin: 2rem;
    color: #000000;
}   